@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=New+Rocker&display=swap');
#contant {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: blue;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color:lightgrey;
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", "Helvetica", sans-serif;
}

header {
    background-color: #90C2E7;
}

nav a:hover {
    background-color: rgba(78, 78, 78, 0.404);
    color: black;
}
/* I seperated .book and .join to have different colors to look better*/
.book {
    background-color: rgb(83, 83, 83);
    color: lightblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: rgba(78, 78, 78, 0.404);
    color: black;    
}

#background {
    background-color: #00A9A5;
}

.msg {
    background-color: #4E8098;
    line-height: 1.8em;
    padding: 35px;
}

footer {
    background-color: #0B5351;
    padding: 25px 50px;
    margin-top: 200px;
}

.join {
    background-color: #464646;
    color: lightblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.home-title {
    color: black;
    font-family: "New Rocker", "Georgia", serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

.msg h2 {
    color: black;
    font-family: "New Rocker", "Georgia", serif;
}

.msg p {
    color: black;
    font-family: "EB Garamond", "Helvetica", sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: white;
    font-family: "EB Garamond", "Helvetica", sans-serif;
}

footer a {
    color: rgb(2, 89, 189);
    text-decoration: none;
}

footer a:hover {
    background-color: rgba(78, 78, 78, 0.404);
    color: black; 
}

.logo {
    width: 80px;

}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}

#hero-msg h4 {
    font-family: "EB Garamond", "Helvetica", sans-serif;
} 

.home-grid {
    font-family: "EB Garamond", "Helvetica", sans-serif;
}

h2 {
    margin: 0;
}

footer .social img {
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
}

.river-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}